In [1]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:qwerty111!@@localhost/moodle')

In [4]:
class DB_fetch:
    """This class has methods that get various information on our database,regarding the tables"""
    
    def __init__(self, engine):
        self.engine = engine
    
    def table_count(self,query = "SELECT COUNT(*)FROM information_schema.tables"):
        df = pd.read_sql(query,self.engine)
        return df
    
    def row_per_table(self,table):
        query = "SELECT COUNT(*) FROM {table}".format(table=table)
        df = pd.read_sql(query,self.engine)
        print (df)
        
    """    def row_per_table_multi(self,table_list):
        query = "SELECT COUNT(*) FROM {table}".format(table=table)
        for i in table_list:
            """
    def read_table(self,table):
        query = "SELECT * FROM {table}".format(table=table)
        table_data = pd.read_sql(query,self.engine)
        return table_data

In [5]:
import pandas as pd
data = DB_fetch(engine)
table_count = data.table_count()

In [6]:
log_data = data.read_table("mdl_logstore_standard_log")
log_data.head()

,id,eventname,component,action,target,objecttable,objectid,crud,edulevel,contextid,...,contextinstanceid,userid,courseid,relateduserid,anonymous,other,timecreated,origin,ip,realuserid
0,1,\core\event\course_viewed,core,viewed,course,None,NaN,r,2,2,...,1,0,1,NaN,0,N;,1548311114,web,105.233.48.139,NaN
1,2,\core\event\user_loggedin,core,loggedin,user,user,2.0,r,0,1,...,0,2,0,NaN,0,"a:1:{s:8:""username"";s:5:""admin"";}",1548311148,web,105.233.48.139,NaN
2,3,\core\event\dashboard_viewed,core,viewed,dashboard,None,NaN,r,0,5,...,2,2,0,2.0,0,N;,1548311179,web,105.233.48.139,NaN
3,4,\core\event\course_viewed,core,viewed,course,None,NaN,r,2,2,...,1,0,1,NaN,0,N;,1548313994,web,105.233.48.139,NaN
4,5,\core\event\course_viewed,core,viewed,course,None,NaN,r,2,2,...,1,0,1,NaN,0,N;,1548319150,web,41.13.254.147,NaN

In [7]:
log_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 417554 entries, 0 to 417553
Data columns (total 21 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   id                 417554 non-null  int64
 1   eventname          417554 non-null  object
 2   component          417554 non-null  object
 3   action             417554 non-null  object
 4   target             417554 non-null  object
 5   objecttable        362981 non-null  object
 6   objectid           362981 non-null  float64
 7   crud               417554 non-null  object
 8   edulevel           417554 non-null  int64
 9   contextid          417554 non-null  int64
 10  contextlevel       417554 non-null  int64
 11  contextinstanceid  417554 non-null  int64
 12  userid             417554 non-null  int64
 13  courseid           417554 non-null  int64
 14  relateduserid      325198 non-null  float64
 15  anonymous          417554 non-null  int64
 16  other              417554 non-null  object
 17  timecreated        417554 non-null  int64
 18  origin             417554 non-null  object
 19  ip                 328041 non-null  object
 20  realuserid         32 non-null      float64
dtypes: float64(3), int64(9), object(9)
memory usage: 66.9+ MB

In [8]:
log_data['action'].unique()

array(['viewed', 'loggedin', 'started', 'shown', 'ended', 'updated',
       'created', 'assigned', 'failed', 'added', 'uploaded', 'reset',
       'loggedout', 'indexed', 'deleted', 'restored', 'sent', 'previewed',
       'saved', 'resumed', 'submitted', 'reviewed', 'enabled',
       'unassigned', 'becameoverdue', 'abandoned', 'graded', 'called',
       'moved', 'removed', 'searched', 'answered', 'restarted', 'text',
       'disabled', 'completed', 'awarded', 'archived', 'duplicated',
       'printed', 'accepted', 'exported', 'downloaded', 'loggedinas',
       'assessed'], dtype=object)

In [9]:
context = data.read_table("mdl_context")
context.head()

    id  contextlevel  instanceid           path  depth  locked
0    1            10           0             /1      1       0
1  496            70         226  /1/72/430/496      4       0
2    2            50           1           /1/2      2       0
3    3            40           1           /1/3      2       0
4  499            70         228  /1/72/498/499      4       0

In [17]:
context.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4359 entries, 0 to 4358
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            4359 non-null   int64
 1   contextlevel  4359 non-null   int64
 2   instanceid    4359 non-null   int64
 3   path          4359 non-null   object
 4   depth         4359 non-null   int64
 5   locked        4359 non-null   int64
dtypes: int64(5), object(1)
memory usage: 204.5+ KB

In [11]:
user_data = data.read_table("mdl_user")
user_data.head()

,id,confirmed,policyagreed,deleted,suspended,idnumber,country,lang,firstaccess,lastaccess,lastlogin,currentlogin,lastip,gender,CountryCode
0,1,1,0,0,0,,Germany,en,0,0,0,0,,Male,DE
1,20,1,0,0,0,,Germany,en,1549745767,1562935333,1549745767,1562935333,197.215.32.111,Male,DE
2,15,1,0,0,0,,Germany,en,1549633236,1563537002,1563469481,1563537002,41.184.239.200,Male,DE
3,36,1,0,0,0,,Ghana,en,1549641288,1559227964,1549651186,1559227892,154.160.1.224,Male,GH
4,44,1,0,0,0,,Ghana,en,1549637001,1560095090,1557475553,1560094908,129.122.1.14,Male,GH

In [18]:
user_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1052 entries, 0 to 1051
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1052 non-null   int64
 1   confirmed     1052 non-null   int64
 2   policyagreed  1052 non-null   int64
 3   deleted       1052 non-null   int64
 4   suspended     1052 non-null   int64
 5   idnumber      1052 non-null   object
 6   country       1052 non-null   object
 7   lang          1052 non-null   object
 8   firstaccess   1052 non-null   int64
 9   lastaccess    1052 non-null   int64
 10  lastlogin     1052 non-null   int64
 11  currentlogin  1052 non-null   int64
 12  lastip        1052 non-null   object
 13  gender        1052 non-null   object
 14  CountryCode   1052 non-null   object
dtypes: int64(9), object(6)
memory usage: 123.4+ KB

In [12]:
course_data =data.read_table("mdl_course")
course_data.head()

,id,category,sortorder,fullname,shortname,idnumber,summary,summaryformat,format,showgrades,...,defaultgroupingid,lang,calendartype,theme,timecreated,timemodified,requested,enablecompletion,completionnotify,cacherev
0,7,6,60002,FDP Design -WordPress,FDP WordPress,,"<p><img src=""@@PLUGINFILE@@/WordPress.svg.png""...",1,topics,1,...,0,,,,1528706177,1548697122,0,1,0,1561503107
1,10,1,30001,How to design and facilitate an online course,Design eCourse,,"<p dir=""ltr""><span>After completing this cours...",1,topics,1,...,0,en,,boost,1374053678,1562773717,0,0,0,1562773718
2,50,10,80001,How data can impact development,Data for Development,,<p>This course is part of the Changemaking tra...,1,topics,1,...,0,en,,boost,1562232960,1562307278,0,1,0,1563791465
3,8,1,30002,Game-based Learning,Game and Learning,,"<p><p>In this module, you will explore the var...",1,topics,1,...,0,,,boost,1543612197,1562773782,0,0,0,1562773785
4,46,7,10001,Welcome to UpSkill - start here!,Welcome to UpSkill,,<p>Start here to learn about 10 Academy and wh...,1,topics,1,...,0,en,,boost,1550050414,1562772944,0,1,0,1562930608

In [19]:
course_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 31 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 15 non-null     int64
 1   category           15 non-null     int64
 2   sortorder          15 non-null     int64
 3   fullname           15 non-null     object
 4   shortname          15 non-null     object
 5   idnumber           15 non-null     object
 6   summary            15 non-null     object
 7   summaryformat      15 non-null     int64
 8   format             15 non-null     object
 9   showgrades         15 non-null     int64
 10  newsitems          15 non-null     int64
 11  startdate          15 non-null     int64
 12  enddate            15 non-null     int64
 13  marker             15 non-null     int64
 14  maxbytes           15 non-null     int64
 15  legacyfiles        15 non-null     int64
 16  showreports        15 non-null     int64
 17  visible            15 non-null     int64
 18  visibleold         15 non-null     int64
 19  groupmode          15 non-null     int64
 20  groupmodeforce     15 non-null     int64
 21  defaultgroupingid  15 non-null     int64
 22  lang               15 non-null     object
 23  calendartype       15 non-null     object
 24  theme              15 non-null     object
 25  timecreated        15 non-null     int64
 26  timemodified       15 non-null     int64
 27  requested          15 non-null     int64
 28  enablecompletion   15 non-null     int64
 29  completionnotify   15 non-null     int64
 30  cacherev           15 non-null     int64
dtypes: int64(23), object(8)
memory usage: 3.8+ KB

In [13]:
module_data = data.read_table("mdl_modules")
module_data.head()

   id        name  cron  lastcron search  visible
0   2  assignment    60         0               0
1   3        book     0         0               1
2   5      choice     0         0               1
3   6        data     0         0               1
4   7    feedback     0         0               1

In [20]:
module_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        26 non-null     int64
 1   name      26 non-null     object
 2   cron      26 non-null     int64
 3   lastcron  26 non-null     int64
 4   search    26 non-null     object
 5   visible   26 non-null     int64
dtypes: int64(4), object(2)
memory usage: 1.3+ KB

In [14]:
course_modules_data = data.read_table("mdl_course_modules")
course_modules_data.head()

,id,course,module,instance,section,idnumber,added,score,indent,visible,...,visibleold,groupmode,groupingid,completion,completiongradeitemnumber,completionview,completionexpected,showdescription,availability,deletioninprogress
0,1,1,9,1,2,None,1548435669,0,0,1,...,1,0,0,0,NaN,0,0,0,None,0
1,23,6,12,1,17,None,1206338932,0,0,1,...,1,0,0,0,NaN,0,0,0,None,0
2,69,8,15,2,29,,1543620947,0,0,1,...,1,0,0,0,NaN,0,0,0,None,0
3,24,6,9,4,17,None,1206338989,0,0,1,...,1,1,0,0,NaN,0,0,0,None,0
4,227,11,9,24,57,None,1549462268,0,0,1,...,1,0,0,0,NaN,0,0,0,None,0

In [21]:
course_modules_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 290 entries, 0 to 289
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         290 non-null    int64
 1   course                     290 non-null    int64
 2   module                     290 non-null    int64
 3   instance                   290 non-null    int64
 4   section                    290 non-null    int64
 5   idnumber                   127 non-null    object
 6   added                      290 non-null    int64
 7   score                      290 non-null    int64
 8   indent                     290 non-null    int64
 9   visible                    290 non-null    int64
 10  visibleoncoursepage        290 non-null    int64
 11  visibleold                 290 non-null    int64
 12  groupmode                  290 non-null    int64
 13  groupingid                 290 non-null    int64
 14  completion                 290 non-null    int64
 15  completiongradeitemnumber  24 non-null     float64
 16  completionview             290 non-null    int64
 17  completionexpected         290 non-null    int64
 18  showdescription            290 non-null    int64
 19  availability               4 non-null      object
 20  deletioninprogress         290 non-null    int64
dtypes: float64(1), int64(18), object(2)
memory usage: 47.7+ KB

In [15]:
course_modules_completion = data.read_table("mdl_course_modules_completion")
course_modules_completion.head()

,id,coursemoduleid,userid,completionstate,viewed,overrideby,timemodified
0,5801,224,56,1,0.0,None,1561988963
1,3,228,3,0,1.0,None,0
2,36,228,2,0,1.0,None,0
3,37,228,5,0,1.0,None,0
4,38,228,32,0,1.0,None,0

In [22]:
course_modules_completion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4483 entries, 0 to 4482
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               4483 non-null   int64
 1   coursemoduleid   4483 non-null   int64
 2   userid           4483 non-null   int64
 3   completionstate  4483 non-null   int64
 4   viewed           3466 non-null   float64
 5   overrideby       0 non-null      object
 6   timemodified     4483 non-null   int64
dtypes: float64(1), int64(5), object(1)
memory usage: 245.3+ KB

In [16]:
grades_data = data.read_table("mdl_grade_grades")
grades_data.head()

,id,itemid,userid,rawgrade,rawgrademax,rawgrademin,rawscaleid,usermodified,finalgrade,hidden,...,overridden,excluded,feedback,feedbackformat,information,informationformat,timecreated,timemodified,aggregationstatus,aggregationweight
0,2,92,3,NaN,100.0,0.0,NaN,NaN,NaN,0,...,0,0,None,0,None,0,NaN,NaN,unknown,NaN
1,1,93,3,NaN,10.0,0.0,NaN,3.0,NaN,0,...,0,0,None,0,None,0,NaN,NaN,novalue,0.0
2,51,126,50,NaN,12.0,0.0,NaN,NaN,12.0,0,...,0,0,None,0,None,0,NaN,1.549723e+09,unknown,NaN
3,35,92,65,NaN,12.0,0.0,NaN,NaN,0.0,0,...,0,0,None,0,None,0,NaN,1.549642e+09,unknown,NaN
4,34,93,65,0.0,12.0,0.0,NaN,3.0,0.0,0,...,0,0,None,0,None,0,1.549640e+09,1.549642e+09,used,1.0

In [23]:
grades_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3643 entries, 0 to 3642
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 3643 non-null   int64
 1   itemid             3643 non-null   int64
 2   userid             3643 non-null   int64
 3   rawgrade           1089 non-null   float64
 4   rawgrademax        3643 non-null   float64
 5   rawgrademin        3643 non-null   float64
 6   rawscaleid         148 non-null    float64
 7   usermodified       1529 non-null   float64
 8   finalgrade         2160 non-null   float64
 9   hidden             3643 non-null   int64
 10  locked             3643 non-null   int64
 11  locktime           3643 non-null   int64
 12  exported           3643 non-null   int64
 13  overridden         3643 non-null   int64
 14  excluded           3643 non-null   int64
 15  feedback           4 non-null      object
 16  feedbackformat     3643 non-null   int64
 17  information        0 non-null      object
 18  informationformat  3643 non-null   int64
 19  timecreated        843 non-null    float64
 20  timemodified       2160 non-null   float64
 21  aggregationstatus  3643 non-null   object
 22  aggregationweight  2919 non-null   float64
dtypes: float64(9), int64(11), object(3)
memory usage: 654.7+ KB

In [ ]:
%load_ext sql

In [ ]:
from sqlalchemy import create_engine
%sql postgresql://postgres:qwerty111!@@localhost/moodle

### Number of table in our database

In [ ]:
%%sql
SELECT COUNT(*)
FROM information_schema.tables

# Number of Rows in Select Tables

In [ ]:
%%sql
SELECT COUNT(*) 
FROM mdl_logstore_standard_log

In [ ]:

%%sql
SELECT COUNT(*) FROM mdl_context

In [ ]:
%%sql
SELECT COUNT(*) FROM mdl_user

In [ ]:
%%sql
SELECT COUNT(*) FROM mdl_course

In [ ]:
%%sql
SELECT COUNT(*) FROM mdl_modules

In [ ]:
%%sql
SELECT COUNT(*) FROM mdl_course_modules

In [ ]:
%%sql
SELECT COUNT(*) FROM mdl_course_modules_completion

In [ ]:
%%sql
SELECT COUNT(*) FROM mdl_grade_items

In [ ]:
%%sql
SELECT COUNT(*) FROM mdl_grade_grades

## Number of quiz submissions by hour of day

In [ ]:
%%sql
SELECT 
EXTRACT(HOUR FROM to_timestamp(mdl_logstore_standard_log.timecreated)) AS HOUR,
COUNT(*) FROM mdl_logstore_standard_log
WHERE (mdl_logstore_standard_log.action = 'submitted')
GROUP BY EXTRACT(HOUR FROM to_timestamp(mdl_logstore_standard_log.timecreated))
ORDER BY HOUR DESC;

## Monthly usage time of learners who have confirmed and are not deleted

In [ ]:
%%sql
SELECT 
mdl_user.id AS User_Id,
EXTRACT(MONTH FROM to_timestamp(mdl_user.lastaccess)) - EXTRACT(MONTH FROM to_timestamp(mdl_user.firstaccess)) As monthly_usage_time
FROM mdl_user
WHERE (mdl_user.confirmed = 1)
AND (mdl_user.deleted = 0)
ORDER BY monthly_usage_time DESC;

## Count of log events per user for the following verbs: ['loggedin', 'viewed', 'started', ,'submitted', 'uploaded', 'updated', 'searched', 'resumed', 'answered', 'attempted', 'abandoned']

In [ ]:
%%sql
SELECT mdl_logstore_standard_log.userid,
    SUM(CASE WHEN (action='loggedin') THEN userid  ELSE NULL END) AS logged_in,
    SUM(CASE WHEN (action='viewed') THEN userid  ELSE NULL END) AS viewed,
    SUM(CASE WHEN (action='started') THEN userid  ELSE NULL END) AS started,
    SUM(CASE WHEN (action='submitted') THEN userid  ELSE NULL END) AS submitted,
    SUM(CASE WHEN (action='uploaded') THEN userid  ELSE NULL END) AS uploaded,
    SUM(CASE WHEN (action='updated') THEN userid  ELSE NULL END) AS updated,
    SUM(CASE WHEN (action='searched') THEN userid  ELSE NULL END) AS searched,
    SUM(CASE WHEN (action='resumed') THEN userid  ELSE NULL END) AS resumed,
    SUM(CASE WHEN (action='answered') THEN userid  ELSE NULL END) AS answered,
    SUM(CASE WHEN (action='attempted') THEN userid  ELSE NULL END) AS attempted,
    SUM(CASE WHEN (action='abandoned') THEN userid  ELSE NULL END) AS abandoned
FROM mdl_logstore_standard_log
GROUP BY mdl_logstore_standard_log.userid

Python class to pull 
* Overall grade of learners for 
* Number of forum posts

In [ ]:
engine = create_engine('postgresql://postgres:qwerty111!@@localhost/moodle')

In [ ]:
#!pip install pandas

In [ ]:

class DB_fetch:
    """This class has methods that fetchspecific information from the connected database"""
    from sqlalchemy import create_engine
    import pandas as pd

    def __init__(self, engine):
        self.engine = engine
    
    def total_grade(self, query):
        """ This method returns the overall grade for each learner"""
        df = pd.read_sql(query, self.engine)
        df2 = df[['userid', 'itemname', 'finalgrade']]
        df2.sort_values('userid', inplace=True)
        return df2
        
        
    def forum_post_count(self, query):
        """ This method returns the number of posts a learner contributed to the forum"""
        df = pd.read_sql(query, self.engine)
        df2 = df.loc[(df.mailed == 1) & (df.deleted == 0)]
        return df2.shape[0]

In [ ]:
"""mdl_logstore_standard_log
mdl_context
mdl_user
mdl_course
mdl_modules 
mdl_course_modules
mdl_course_modules_completion 
mdl_grade_grades"""